@tailwind base;
@tailwind components;
@tailwind utilities;



/* @fontsource Imports */
@import "@fontsource/patrick-hand";
@import "@fontsource/indie-flower";
@import "@fontsource/yeseva-one";
@import "@fontsource/comfortaa";
@import '@fontsource/libre-baskerville/index.css';




html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
.container {
  width: 50%;
  padding: 2rem;
}
} */

/* Reset all margins, paddings, and box-sizing */
/* Reset all default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  bottom: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


html, body {
  height: 100%;
  width: 100%;
}



.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box-shadow{
  box-shadow: 4px 4px 5px #561a56;
}

/* .footer{
  background-color: #FFDBFF;
  background-color: rgba(256, 168, 225, 0.5);
} */

.div-style{
  box-shadow: 4px 4px 5px #a1327e ;
    align-items: center;
    height:90%;
    padding:50px;
    background: transparent; 
    background-color: #FFD5F2;
    background-color: rgba(250, 160, 220, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
  transition: background-color 0.3s ease;
}

.div-style-mobile{
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding:10spx;

  justify-content: center;
  /* background-color: #FFDBFF;
  background-color: rgba(256, 168, 225, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5); */
  border-radius: 20px;

}

.div-slider{
  align-items: center;
  margin-top: 10px;
  padding:10px;
  background: transparent;
  justify-content: center;
  background-color: #FFDBFF;
  background-color: rgba(256, 168, 225, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
transition: background-color 0.3s ease;
}

.footer{
  margin-bottom: 0;
}
.style-skills{
  background-color: #FFDBFF;
  background: transparent;
  justify-content: center;
  background-color: #FFDBFF;
  background-color: rgba(256, 168, 225, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
transition: background-color 0.3s ease;
}

Webkit Browsers (Chrome, Safari)
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1327e; 
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #FFDBFF; 
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin; 
  scrollbar-color: #a1327e #e4dce4; 


}
.scrollbar-custom-professional {
  scrollbar-width: thin; 
  scrollbar-color: #a1327e #e4dce4; 
 


}


.bg{
  background-color: #FFDBFF;
  background: transparent;
  justify-content: center;
  background-color: #FFDBFF;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.bg-cards{
  background-color: #FFDBFF;
  background: transparent;
  justify-content: center;
  background-color: #FFDBFF;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 30px !important; 
    height: 30px !important;
    color: #333 !important; 
    
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 10px !important; 
    font-weight: bold;
    padding: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgba(86, 26, 86, 0.5);
  color: #ffff;
  font-family: 'Indie Flower', 'cursive';
  text-align: center;
  border-radius: 6px;
  padding: 3px 5px;
  position: absolute;
  font-size: 12px;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

